<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('header') %>

    <main>
        <section id="thank-you">
            <h1>Thank You for Booking!</h1>
            <p>Event: <%= ticketData.event %></p>
            <p>Name: <%= ticketData.firstName %> <%= ticketData.lastName %></p>
            <p>Adults: <%= ticketData.adults %></p>
            <p>Children: <%= ticketData.children %></p>
            
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Hotel. All Rights Reserved.</p>
    </footer>
</body>
</html>
