<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Rooms</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('header') %>

    <main class="room-layout">
        <h1 class="room-h1">Available Rooms</h1>
        <div class="search-filter-container">
            <input type="text" id="searchBar" placeholder="Search for room types..." onkeyup="filterRooms()">
            <select id="filterType" onchange="filterRooms()">
                <option value="">All</option>
                <option value="1bed">1 Bed</option>
                <option value="2bed">2 Bed</option>
                <option value="3bed">3 Bed</option>
                <option value="4bed">4 Bed</option>
                <option value="deluxe">Deluxe</option>
                <option value="suite">Suite</option>
            </select>
        </div>
        <div id="rooms-container">
            <% rooms.forEach(room => { %>
                <div class="room-card" data-type="<%= room.type %>">
                    <h2><%= room.type.charAt(0).toUpperCase() + room.type.slice(1) %> Room</h2>
                    <img src="<%= room.image %>" alt="<%= room.type %> Room Image">
                    <p>Price: $<%= room.price %> per night</p> <!-- Added price display -->
                    <p>Availability: <%= room.available %> out of <%= room.room_limit %></p>
                    <a href="/room?name=<%= room.type %>" class="btn">View Details</a>
                </div>
            <% }) %>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Hotel. All Rights Reserved.</p>
    </footer>
    <script>
        function filterRooms() {
            const searchBar = document.getElementById('searchBar').value.toLowerCase();
            const filterType = document.getElementById('filterType').value;
            const rooms = document.querySelectorAll('.room-card');

            rooms.forEach(room => {
                const roomType = room.getAttribute('data-type').toLowerCase();
                const matchesSearch = roomType.includes(searchBar);
                const matchesFilter = filterType === '' || roomType === filterType;

                if (matchesSearch && matchesFilter) {
                    room.style.display = '';
                } else {
                    room.style.display = 'none';
                }
            });
        }
    </script>
</body>
</html>
